* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 500px;
    margin: 5px;
    padding: 10px;
    background-color: navy;
}

.item {
    background-color: coral;
    color: #fff;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.item1 {
    order: 2;
}

.item2 {
    order: 1;
}

.item3 {
    order: 3;
}

.destaque {
    order: -1;
    background-color: crimson;
}