* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: blueviolet;
    margin: 50px auto;
    text-align: center;
    color: white;
}

.caixa1 {
    position: absolute;
    background-color: rgb(185, 56, 218);
    width: 200px;
    height: 150px;
    width: 200px;
    top: 0;
    left: 0;
    z-index: 0;
}

.caixa2 {
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: darkmagenta;
    top: 0;
    left: 0;
    z-index: 1;
}

