* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    border: 2px solid #333;
    padding: 10px;
    width: 700px;
    height: 500;
}

.bloco-esquerdo {
    float: left;
    background-color: crimson;
    color: white;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-right: 20px;
}

.bloco-direito {
    float: right;
    background-color: blue;
    color: white;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
}

.texto-final {
    clear: both;
    margin-top: 10px;
    text-align: center;
}